# Build directories
/build/
/bin/
/obj/
Debug/
Release/
x64/
x86/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
CTestTestfile.cmake
DadConfiguration.tcl
TestTestfile.cmake
*.cache
*.mak
*.mk
*.mk.in
CMakeFiles
CPack*
CPackSource*
CMakeScripts
InstallManifest.txt
install_manifest.txt
Makefile
cmake*.txt
install_manifest*.txt

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Packages
*.zip
*.tar.gz
*.tar.bz2
*.7z
*.rar

# Temporary files
*.tmp
*.temp
*.bak
*.backup

# Dependencies
node_modules/
jspm_packages/
bower_components/
vendor/
vendor_bin/
composer.lock
composer.phar
Gemfile.lock
Gemfile
Mix.lock
mix.exs
.exs
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis
.pytest_cache/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
PIPENV_FILETYPE_IN_USE
PIPENV_IGNORE_VIRTUALENVS
PIPMAXNUMBAKFILE
PIPMAXUSEPYC
PIPMINSTALLTIME
PIPSKIPSETUPTOOLS
PIPSKIPWHEEL
sdist
share/python-wheels/
*egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis
.pytest_cache/

# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis
.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
media

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an exception
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/rebuild.xml
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an exception
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/rebuild.xml

# Maven
target/
!pom.xml              # transitive dependencies and plugins that have custom lifecycle mapping
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.buildlog
.gradle
build/
!gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties

# Scala
*.bak
*.bin
*.class
*.jar
*.war
*.ear
*.hnt
*.hprof
*.ide
*.nba
*.sto
*.scala
*.script
*.swp
*~
target/
project/target/*
project/project/*
lib_managed_jars/
lib_managed/
src_managed_jars/
src_managed/
target/
project/target/*
project/project/*
lib_managed_jars/
lib_managed/
src_managed_jars/
src_managed/

# SBT
cache
lib_managed
plugins
project/project
project/target/
target/
tmp
histoire/
.cache

# Vagrant
.vagrant/
Vagrantfile.*
multimachine/
vagrant-data/
machines/*/*/box*
tmp/*.gz

# Docker
.dockerignore

# Ansible
*.retry

# Vim
*.swp
*.swo
*.swn

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop
*.elc
luaprofiler.profile

# Xcode
## Build generated
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint
xcode8.xcuserdatad/UserState.xcuserstate
xcuserdata/*/Debugger*.xcuserdatad
*.xcuserdatad
xcuserdata/*/xcdebugger*.xcuserdatad
xcuserdata/*/xcuserdatad/*/xcdebugger*.xcuserdatad

# CocoaPods
# We recommend against adding the Pods directory to your .gitignore. However
# you must judge for yourself, the pros and cons are mentioned at:
# https://blog.cocoapods.org/Payee-Update-Pod-specs-to-work-with-CocoaPods-and-Arduino-Uniform-Serial-Communication-121b7181b5/
# Pods/
#
# however we do recommend that you lock the Pod-Version in your Podfile.
# See https://guides.cocoapods.org/using/using-cocoapods.html

# Carthage
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts
Carthage/Build/

# Chef
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tbz2
*.tgz
*.txz

# Chef
Berksfile
Berksfile.lock
cookbooks/
## TODO: Add your own patterns to ignore product-specific files!

# Editor config
.editorconfig